# 주피터 노트북 기본

## 셀 추가 / 삭제
- 코드버튼 클릭 - Python 코드 셀 추가
- Markdown 버튼 클릭 = 마크다운 셀 추가
- ctrl + Enter -> 실행
- Shift + Enter -> 실행 후 빈 셀(실행한 셀) 추가

In [13]:
print("여기는 파이썬 셀")

여기는 파이썬 셀

## 일반 출력
```python
print('Hello, python!') # 마크다운 코드 추가
```

In [14]:
print('Hi')

Hi

### 이미지 추가

> ***인용*** 

<img src='https://jupyter-notebook.readthedocs.io/en/latest/_images/notebook-running-code.png' width="400">

<img src='https://cdn.pixabay.com/animation/2023/03/21/10/41/10-41-09-561_512.gif' width="400">

---

|제목|내용|비고|
|:-----|----------:|:----:|
|제목1|내용1234|비고123411111|
|제목2|내용1234|비고1234|
|제목3|내용1222222234|비고1234|
|제목4|내용1234|비고1234|
|제목555555|내용1234|비고1234|

### 주피터 노트북 디버깅
- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일(F10, F11) 사용

In [18]:
def divide(x, y):
    result = ''
    
    print('나누기 완료')
    try:
        result = x// y
    except Exception as e:
        print(f'예외발생{e}')

    return result



print(divide(7,0))

나누기 완료
예외발생integer division or modulo by zero

### 출력 Python 과 차이점
변수 출력할 때
- 변수명만 입력 후 실행 결과 출력
- print() 도 출력
    - 단, 변수만 쓸때는 제일 마지막 변수만 출력
    - 여러번 출력 하고 싶으면 print() 사용할 것
    - 하지만, 변수를 그냥 출력 할 때와 print() 출력 때랑 결과 다름

In [17]:
a = 'Hello Python!'
print(a)

Hello Python!

#### 경로 문제 해결

.py 에서의 파일 경로와 .ipynb경로가 다름
- .py : ./Day04/dummy_members.csv
- .ipynb : ./dummy_members.csv

In [20]:
import pandas as pd

df = pd.read_csv('./dummy_members2.csv') # 주의점! 주피터 노트북에서는 같은 폴더에 파일을 읽을떄
df

,이름,우편번호,주소,전화번호,이메일
0,조주원,62516,서울특별시 광진구 서초중앙길,032-360-1420,jeonghyi24@example.com
1,박서준,38786,대전광역시 북구 오금5로 (성수김박리),032-828-5823,gimcunja@example.org
2,송예원,61306,인천광역시 마포구 오금가,052-784-9787,sugja92@example.com
3,김지후,81915,대구광역시 도봉구 오금74거리 (정호임최읍),032-643-8406,coeogsun@example.org
4,김성진,77330,부산광역시 남구 개포40가,051-159-6005,yeongsubag@example.org
...,...,...,...,...,...
9995,조현우,36673,전라북도 성남시 영동대42길,043-858-3056,yeongsun91@example.net
9996,정준호,95013,대전광역시 광진구 도산대거리 (정수박리),054-851-8915,fjeon@example.org
9997,이미영,99596,강원도 단양군 영동대4거리 (상현이읍),032-116-5507,ocoe@example.com
9998,김지은,57784,세종특별자치시 노원구 삼성로,055-366-2516,zsin@example.org
9999,김순옥,66217,제주특별자치도 시흥시 테헤란로,051-569-3946,csim@example.com

In [21]:
import os

print(os.getcwd())

c:\Source\bigdata-python-2023\Day04

#### 출력 초과문제

콘솔이나 주피터 셀 출력

In [22]:
pd.options.display.max_columns = 10
pd.options.display.max_rows = 100
data = pd.read_csv('./dummy_members2.csv', encoding='utf-8')

data

,이름,우편번호,주소,전화번호,이메일
0,조주원,62516,서울특별시 광진구 서초중앙길,032-360-1420,jeonghyi24@example.com
1,박서준,38786,대전광역시 북구 오금5로 (성수김박리),032-828-5823,gimcunja@example.org
2,송예원,61306,인천광역시 마포구 오금가,052-784-9787,sugja92@example.com
3,김지후,81915,대구광역시 도봉구 오금74거리 (정호임최읍),032-643-8406,coeogsun@example.org
4,김성진,77330,부산광역시 남구 개포40가,051-159-6005,yeongsubag@example.org
...,...,...,...,...,...
9995,조현우,36673,전라북도 성남시 영동대42길,043-858-3056,yeongsun91@example.net
9996,정준호,95013,대전광역시 광진구 도산대거리 (정수박리),054-851-8915,fjeon@example.org
9997,이미영,99596,강원도 단양군 영동대4거리 (상현이읍),032-116-5507,ocoe@example.com
9998,김지은,57784,세종특별자치시 노원구 삼성로,055-366-2516,zsin@example.org
9999,김순옥,66217,제주특별자치도 시흥시 테헤란로,051-569-3946,csim@example.com